<DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
  <div id="wrapper">
    <%- include('../partials/header') %>
    <%- include('../partials/navigation') %>


    
    </style>

    <main>
      <%- body %>
    </main>

    <%- include('../partials/footer') %>

  </div>
</body>
</html>


<style>
@media screen and (min-width:468px) {
 body{
  background-image: url(/images/site/checkerboard.jpg);
}
#wrapper {
  background-color: white;
  width: 56rem;
  position: relative;
  left: 15rem;
  border: 3px solid black;
}
}
@media screen and (min-width:1400px) {
  #wrapper {
  position: relative;
  left: 34rem;
}

}
</style>

